h1{
    text-align: center;
}

.row{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 250px;
    background-color: pink;
}


table,
th,
td{
    margin: auto;
    border : 1px solid black;
}